<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"

      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <h:body>

        <f:facet name="last">
            <h:outputStylesheet library="css" name="main.css" />
        </f:facet>

        <div id="wrap">
            <div class="content">

                <div class="error-div-main">
                    <p:outputLabel> 123</p:outputLabel>


                    <h:form>
                        <h:commandLink action="123" value="123"/>
                    </h:form>

                </div>

            </div>
        </div>
    </h:body>
</html>

