<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view locale="#{localeChanger.currentLocale}">  
        <h:head>
            <title>#{msg.welcome_title}</title>

        </h:head>
        <h:body>

            <f:facet name="last">
                <h:outputStylesheet library="css" name="authorization.css" />
                <h:outputScript library="js" name="library.js" target="head"/>
            </f:facet>


            <noscript>
                <h2 style="margin-top:200px;"><p>Включите JavaScript в вашем браузере, чтобы работать с нашим приложением</p></h2>


                <style type="text/css">
                    .authorization { display:none; }
                    p { text-align: center; }
                </style>

            </noscript>


            <div class="authorization">

                <ui:include src="/templates/locales.xhtml"/>

                <div class="clear"/>


                <h:form styleClass="login_form" id="formLogin">


                    <p:inputMask id="inputUsername" value="#{user.username}"  required="true" requiredMessage="#{msg.login_required}" styleClass="aut-text" mask="999999999999999"/>

                    <p:password  id="inputPassword"  value="#{user.password}" redisplay="true" required="true" requiredMessage="#{msg.password_required}" styleClass="aut-text"/>


                    <div style="float:left; height: 15px; width: 100%; text-align: center; height:50px;">
                        <h:messages styleClass="error" id="messages"/>
                    </div>


                 


                    <div class="div-login-button">

                        <p:panelGrid columns="3" columnClasses="col, col, col" styleClass="panel-login">

                            <p:commandButton id="btnLogin" action="#{user.login()}" value="#{msg.entry}" styleClass="login_button" update="formLogin" onclick="this.disabled=true;" oncomplete="this.disabled=false"/>


                            <p:ajaxStatus id="ajaxStatusPanel">  
                                <f:facet name="start">      

                                    <h:graphicImage library="images" name="ajax_loading.gif"/> 

                                </f:facet>  

                                <f:facet name="complete">  
                                    <h:outputText value="" />  
                                </f:facet>  
                            </p:ajaxStatus>  

                        </p:panelGrid>

                    </div>


                    <script language="javascript">
                            document.getElementById("formLogin:inputUsername").setAttribute("placeholder","#{msg.input_name}");
                            document.getElementById("formLogin:inputPassword").setAttribute("placeholder","#{msg.input_password}");                            
                    </script>

                </h:form>



            </div>



        </h:body>





    </f:view>  
</html>

