<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>#{msg.map}</title>
        <script src="http://maps.google.com/maps/api/js?sensor=true&amp;key=AIzaSyAIn-Vz81EoQt60llwsZMsksw4LRVNVngM" type="text/javascript"></script>
    </h:head>
    <h:body>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="map.css" />
        </f:facet>
        <p:layout fullPage="true">
            <p:layoutUnit position="center">
                <p:gmap id="gmap" center="#{polylinesView.centerGeoMap}" zoom="13" type="ROADMAP" style="width:100%;height:100%" model="#{polylinesView.polylineModel}"/>
            </p:layoutUnit>
        </p:layout>
        <div class="period">
            <p:outputLabel value="#{msg.path}" /><br/>
            <h:form id="form">
                <p:calendar id="firstDate" value="#{polylinesView.firstDate}" maxdate="#{polylinesView.lastDate}" pattern="MM/dd/yyyy HH'#{msg.hour}'">
                    <p:ajax event="dateSelect" listener="#{polylinesView.updateMap}" update="gmap form"/>
                </p:calendar>
                <p:calendar id="lastDate" value="#{polylinesView.lastDate}" mindate="#{polylinesView.firstDate}" pattern="MM/dd/yyyy HH'#{msg.hour}'">
                    <p:ajax event="dateSelect" listener="#{polylinesView.updateMap}" update="gmap form"/>
                </p:calendar>
            </h:form>
        </div>
    </h:body>
</html>

